.html {
  scroll-behavior: smooth;
}

.body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
